---
import "../styles/stylles.css";
import Nav from "../components/Nav.astro";
import Card from "../components/Card.astro";
import Footer from "../components/Footer.astro";
import Helt from "../components/Helt.astro";
import Categorygallery from "../components/Categorygallery.astro";
import CategorygalleryItem from "../components/CategorygalleryItem.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <header>
      <Nav />
    </header>
    <main>
      <Helt />
      <Categorygallery>
        <CategorygalleryItem imgPath="../src/img/dkcomics.svg" />
        <CategorygalleryItem imgPath="../src/img/us-comics.svg" />
        <CategorygalleryItem imgPath="../src/img/dkcomics.svg" />
        <CategorygalleryItem imgPath="../src/img/us-comics.svg" />
        <CategorygalleryItem imgPath="../src/img/dkcomics.svg" />
        <CategorygalleryItem imgPath="../src/img/us-comics.svg" />
        <CategorygalleryItem imgPath="../src/img/dkcomics.svg" />
        <CategorygalleryItem imgPath="../src/img/us-comics.svg" />
        <CategorygalleryItem imgPath="../src/img/dkcomics.svg" />
        <CategorygalleryItem imgPath="../src/img/us-comics.svg" />
        <CategorygalleryItem imgPath="../src/img/dkcomics.svg" />
        <CategorygalleryItem imgPath="../src/img/us-comics.svg" />
      </Categorygallery>
      <Card />
      
    </main>
    <footer>
      <Footer />
    </footer>
  </body>
</html>
