---
---

<div class="links">
  <li>Butikker ↓</li>
  <li>Kundeservice ↓</li>
  <li>Services ↓</li>
  <li>Om Faraos ↓</li>
</div>

<img src="../src/icons/Certifications.svg" alt="">

<footer>

<div class="flex-container">
    <div class="flex-item">
        <h5>Ring os!</h5>
        <p>0045 33 67 20 14
        </p>
        <p>info@faraos.com</p>  </div>

    <div class="flex-item2">
      <p> Butikker</p> 
      <p> Kundeservice </p>
       <p> Åbningstider</p>
      <p>  Kalender</p>
    </div>
       
      
  <div class="flex-item3">
  <p>Join us</p>

   
  </div>

</div>

</footer>

<style>

@font-face {
    font-family: FaraosFont;
    src: url(fonts/faraos2017.ttf);
  } 

  @font-face {
    font-family: myFirstFont;
    src: url(fonts/Roboto-Regular.ttf);
  }
  .links {
    text-align: center;
    font-family: FaraosFont;
    font-size: 2rem;
   
  }
  li {
    list-style: none;
    display: inline-block;
   padding-right: 1rem;
  }

  img{

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
  }

  footer{
    background-color: #F2474B;
   
  }

  footer p{
    font-family: myFirstFont;
    font-size: 0.8rem;
   
 
  }

  .flex-container {
  display: flex;
  flex-direction: row;
  align-items: center; /* centers the flex items vertically */
}

.flex-item {
  flex-basis: 25%; /* sets the width of each flex item to 25% of the flex container */
margin-left: 2rem;
 
}

.flex-item h5{
    font-family: FaraosFont;
    font-size: 1.5rem;

}

.flex-item3 {
   
    flex-basis: 35%
    
}

.flex-item3 p{
    margin-left: 8rem;
}




</style>
