<div class="topnav"><img src="../src/icons/search.svg" alt="">
<img src="../src/icons/Account.svg" alt="" srcset="">
<img src="../src/icons/like.svg" alt="" srcset="">
<img src="../src/icons/basket.svg" alt="" srcset="">
</div>

<div class="logo"><img src="../src/icons/logo-large.png" alt=""></div>
<ul>
  <li>Comics</li>
  <li>Antikvarisk</li>
  <li>Games</li>
  <li>Merchandise</li>
  <li>Udklædning</li>
  <li>Nyheder</li>
  <li>Info</li>
  <li>Tilbud</li>
</ul>



<style>
   @font-face {
    font-family: FaraosFont;
    src: url(fonts/faraos2017.ttf);
  }   
ul li{

    list-style: none;
    display: inline;
    font-family: "FaraosFont";
    font-size: 1.5rem;
    padding-right: 1rem;
}    

ul{
    margin-right: 2rem;
  margin-left: 2rem;
}

.logo{
    display: flex;
      justify-content: center;

}

.topnav{
    display: flex;
    justify-content: flex-end;
    

}

.topnav img{

    padding-right: 0.5rem;
    width: 1.4rem;
    height: 1.4rem;
  
}
</style>
